<div ng-controller="PopoverDemoCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6 button-centered">
                <h2 class="username-title">Welcome {{username}}</h2>
                <br />
                <ul class="list-group">
                    <a class="list-group-item username" ng-repeat="proj in a_k.projects" ng-click="chooseProject(proj.project_id)">
                    {{proj.title}}
                    </a>
                </ul>
                <br />
                <button uib-popover-template="dynamicPopover.templateUrl" type="button" class="btn btn-primary">Create New Project</button>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="form-group">
        <label>Enter Your New Project Title:</label>
        <input type="text" ng-model="dynamicPopover.title" class="form-control">
        <button type="submit" class="btn btn-primary" ng-click="newProject(dynamicPopover.title)">Create</button>
    </div>
</script>
