<!DOCTYPE html>
<html lang="en-GB" ng-app="Pulse">
<meta charset="utf-8">

<head>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
  <link href="angular-xeditable/css/xeditable.css" rel="stylesheet">
  <script src="angular-xeditable/js/xeditable.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheet.css" rel="stylesheet">
</head>


<body ng-controller="MainCtrl">

  <!-- ModalCtrl handles the popup. Div element surrounds whole body -->
  <div ng-controller="ModalCtrl as $ModalCtrl" class="ticket-menu">
    <script type="text/ng-template" id="ticket-popup.html">

      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Edit Ticket</h3>
      </div>

      <div class="modal-body" id="modal-body">
        <div ng-controller="textCtrl">
          <p editable-textarea="desc" onaftersave="saveEdit(desc)">{{desc || 'empty'}}</p>
        </div>
      </div>

    </script>
    <!--
    <button type="button" class="btn btn-default" ng-click="$ModalCtrl.open()">Open me!</button>
    -->


  <!--
<div ng-app="">
 <p>Name : <input type="text" ng-model="name"></p>
 <h1>Hello {{name}}</h1>
</div>
-->
<!-- Buttons to increment or decrement columns
<button class="btn btn-success" ng-click="increment('up')">Add Column</button>
<button class="btn btn-danger" ng-click="increment('down')">Remove Column</button>
-->

<table id="kanban" class="table table-bordered">
  <tr>
    <th ng-repeat="col in cols | limitTo: colCount">{{col}}</th>
  </tr>
  <tr>
        <td class="ticket_column" id="ToDo">
          <div class="buttonHeader">
            <add-btn></add-btn>
          </div>
        </td>
        <td class="ticket_column" id="InProgress">
          <div class="buttonHeader">
            <add-btn></add-btn>
          </div>
        </td>
      <td class="ticket_column" id="Done">
        <div class="buttonHeader">
          <add-btn></add-btn>
        </div>
      </td>
  </tr>
  <!--
  <tr ng-repeat="row in data">
    <td ng-repeat="item in row | limitTo: colCount">{{item}}</td>
  </tr>
  -->

  </table>
</div>
</body>
<script src="script.js"></script>
<script src="ticket.js"></script>
<script src="dnd_handlers.js"></script>
<script src="clientSocket.js"></script>

</html>
