<!DOCTYPE html>
<html lang="en-GB" ng-app="Pulse">
<meta charset="utf-8">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <link href="angular-xeditable/css/xeditable.css" rel="stylesheet">
  <script src="angular-xeditable/js/xeditable.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>

  <link href="project_stylesheet.css" rel="stylesheet">
</head>


<body ng-controller="MainCtrl">

<!-- Ticket popup options -->
<div ng-controller="ModalCtrl as $ModalCtrl" class="ticket-menu">
  <script type="text/ng-template" id="ticket-popup.html">

    <div class="modal-header">
      <h3 class="modal-title" id="ticket_info_title">Edit Ticket</h3>
    </div>

    <div class="modal-body" id="modal-body">
      <div ng-controller="textCtrl">
        <p editable-textarea="desc" onaftersave="saveEditDesc(desc)">{{desc || 'empty'}}</p>

        <p editable-textarea="deadline" onaftersave="saveEditDesc(desc)">{{deadline || 'empty'}}</p>
`
      <button replace="true" type='button' class='btn btn-sm btn-warning' data-toggle="popover"
              data-content="<button replace='true' type='button' class='btn btn-sm btn-danger'
                onclick='delete_ticket_button_click({{tid}})'>I'm sure</button>"
              data-placement="right" data-trigger="click" data-html="true">
        Remove
      </button>
      </div>
    </div>
  </script>

  <table>
    <tr>
      <col width="100px">
      <td class="options_column">
        <!-- Column of options -->
        <table class="options_column">
            <tr class="options_button">
              <!-- Button for user to return to home page - select other project from there. -->
              <td><button type="button" class="btn btn-primary">Home</button></td>
            </tr>
            <tr class="options_button">
              <td><button type="button" class="btn btn-primary">Option2</button></td>
            </tr>
            <tr class="options_button">
              <td><button type="button" class="btn btn-primary">Option3</button></td>
            </tr>
        </table>
      </td>
      <td>
        <div id="kanban_table" ng-controller="kanban_ctrl">
          <table id="kanban" class="table table-bordered">
            <tr>
              <!-- Project title -->
              <p id="project_title" class="project_title">{{project.title}}</p>
            </tr>
            <tr>
              <th ng-repeat="col in project.columns">{{col.title}}</th>
            </tr>

            <tr>
              <!-- Add buttons -->
              <td ng-repeat="col in project.columns"  class="ticket_column">
                <div class="buttonHeader">
                  <button replace="true" type='button' class='btn btn-primary' column_id={{col.column_id}} onclick='addBTN(event)'>
                    Add
                  </button>
                </div>

                <div>
                  <!-- Add tickets -->
                  <div ng-repeat="ticket in col.tickets" ng-click="$ModalCtrl.open(ticket.ticket_id)" draggable="true"
                       id="{{ticket.ticket_id}}" ondragstart="handleDragStart(event)" class="ticket">
                    Ticket id# {{ticket.ticket_id}} </br>
                    {{ticket.desc}}

                    <uib-progressbar class="progress-striped active" value="ticket.progress" type="{{ticket.deadlineState}}">{{ticket.progress}} <i ng-show="showWarning">Close to Deadline</i></uib-progressbar>


                  </div>

                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>
</body>

<script src="project.js"></script>
<script src="column.js"></script>
<script src="ticket.js"></script>
<script src="project_script.js"></script>
<script src="dnd_handlers.js"></script>
<script src="clientSocket.js"></script>

</html>
