<!-- Ticket popup options -->
<div ng-controller="ModalCtrl as $ctrl" class="ticket-menu">
  <script type="text/ng-template" id="ticket-popup">

    <div class="modal-header">
      <h3 class="modal-title" id="ticket-info-title">Edit Ticket</h3>
    </div>

    <div class="modal-body" id="ticket-info-modal-body">
      <div class="container-fluid">
        <div ng-controller="editTicketCtrl">
          <p editable-textarea="desc" onaftersave="saveEditDesc(desc)">{{desc || 'empty'}}</p>


          <h2> Submit a new deadline for this task</h2>
          <div class="row">
            <div class="col-xs-1"></div>

            <div class="col-xs-2">
              <p>Day</p>
              <select ng-model="selectedDay" ng-options="day for day in days">
              </select>
            </div>

            <div class="col-xs-2">

              <p>Month</p>
              <select ng-model="selectedMonth" ng-options="month for month in months">
              </select>
            </div>

            <div class="col-xs-2">
              <p>Year
              <p>
                <select ng-model="selectedYear" ng-options="year for year in years">
                </select>
            </div>

            <div class="col-xs-4">
              <p> Time in the day</p>

              <select ng-model="selectedHour" ng-options="hour for hour in hours">
              </select>
              <select ng-model="selectedMinute" ng-options="minute for minute in minutes">
              </select>

            </div>

            <div class="col-xs-1"></div>

          </div>
          <div class="row">

            <button type="button" ng-click="saveEditDeadline()" class="btn btn-primary">Save Deadline</button>

            <h2>Current Deadline: {{selectedHour}}:{{selectedMinute}} on {{selectedDay}}/{{selectedMonth}}/{{selectedYear}}</h2>

            <button type="button" ng-click="updateProgress()" class="btn btn-primary">Update Progress</button>


            <div ng-controller="deleteTicketCtrl">
              <button uib-popover-template="dynamicPopover.templateUrl" popover-placement="right" type="button" class="btn btn-sm btn-warning">
                Remove ticket
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$ctrl.close()">Close</button>
    </div>
  </script>

  <script type="text/ng-template" id="yousurebutton.html">
    <button replace='true' type='button' class='btn btn-sm btn-danger' ng-click='delete_ticket_button_click(tid)'>I'm sure</button>
  </script>

  <!-- Edit columns modal -->
  <script type="text/ng-template" id="edit-column-popup">

    <div class="modal-header">
      <!-- Modal content-->
      <h3 class="modal-title">Edit Columns</h3>
    </div>

    <div class="modal-body">
      <div ng-controller="editColumnCtrl">
        <div class="container-fluid">
          <div class="row vertical-align">
            <!-- Editable column -->
            <div class="col-xs-11">
              <table>
                <tr>
                  <td ng-repeat="col in project.column_order">
                    <table class="table table-bordered" column_id="{{project.columns[col].column_id}}" draggable="true" ondragstart="handleColumnDragStart(event)" ondragover="handleColumnDragOver(event)" ondrop="handleColumnDrop(event)">
                      <tr>
                        <th class="column-title">
                          <p editable-textarea="project.columns[col].title" onaftersave="updateColTitle(project.columns[col], project.columns[col].title)">{{project.columns[col].title || 'empty'}}</p>
                        </th>
                      </tr>
                      <tr>
                        <td class="center-align-text">
                          <button type="button" class="btn btn-warning" ng-click="removeColumn(project.columns[col])">Remove</button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
          </div>
            <!-- Add new column -->
            <div class="col-xs-1">
              <button class="btn btn-info btn-lg" ng-click="addColumn()"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$ctrl.close()">Close</button>
    </div>
  </script>

  <div id="kanban_location" ng-controller="KanbanCtrl">


    <nav id="optionsbar" class="nav navbar-default navbar-fixed-top">
      <ul class="nav navbar-nav navbar-left vertical-align">
        <!-- Add buttons -->
        <li><button class="btn btn-primary btn-lg" style="margin-left: 15px" onclick="addBTN()">Add ticket</button></li>

        <!-- Button for user to return to home page - select other project from there. -->
        <li>
          <div class="btn-group btn-lg" uib-dropdown=>
            <button type="button" class="btn btn-link btn-md">Home</button>
            <button type="button" class="btn btn-link btn" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
              <li role="menuitem">
                <a ng-click="sendKanbanRequest(project.project_id)">{{project.title}}</a>
              </li>

              <!-- Go to other projects -->
              <li class="divider" ng-repeat-start="proj in other_projects"></li>
              <li role="menuitem" ng-repeat-end><a ng-click="sendKanbanRequest(proj.project_id)">{{proj.title}}</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" ng-click="$ctrl.open_edit_column()" class="btn ">Edit Columns</a></li>
      </ul>
      <a class="navbar-brand navbar-right project-title" id="project_title">
            <!-- Project title -->
            {{project.title}}
      </a>
    </nav>

    <div class="offset-navbar-height container-fluid">

      <div class="row">
        <!-- Kanban table -->
        <div class="col-xs-12">
          <table id="kanban" class="table table-bordered">

            <tr>
              <th class="column-title" ng-repeat="col in project.column_order">{{project.columns[col].title}}</th>
            </tr>

            <tr>
              <td ng-repeat="col in project.column_order" class="ticket-column" cid="{{project.columns[col].column_id}}">
                <!-- Tickets -->
                <div ng-repeat="ticket in project.columns[col].tickets" ng-click="$ctrl.open_ticket_description(ticket.ticket_id)" draggable="true" id="{{ticket.ticket_id}}" ondragstart="handleTicketDragStart(event)" class="ticket">
                  {{ticket.desc}}

                  <!--
                  <uib-progressbar class="progress-striped active" value="ticket.progress" type="{{ticket.deadlineState}}">{{ticket.progress}} <i ng-show="showWarning">Close to Deadline</i></uib-progressbar>
                  -->
                </div>

              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
