<!-- Ticket popup options -->
<div ng-controller="ModalCtrl as $ctrl" class="ticket-menu">
  <script type="text/ng-template" id="ticket-popup">

    <uib-tabset active="active" justified="true">
      <uib-tab index="0" classes="column-title" heading="Edit Ticket">
        <div class="modal-body" id="ticket-info-modal-body">
          <div class="container-fluid">
            <div ng-controller="editTicketCtrl">


              <textarea ng-model="desc" type="Ticket Name" name="desc" rows="5" placeholder="New Ticket" class="form-control" ng-change="saveEditDesc(desc)"></textarea>


              <div ng-controller="DeadlineCollapseCtrl">

                <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">


                    <div class="ticketButtons">
                      <button type="button" class="btn btn-md btn-default" ng-click="isCollapsed = !isCollapsed">Edit deadline </button>


                      <button uib-popover-template="dynamicPopover.templateUrl" popover-trigger="'outsideClick'" popover-placement="right" type="button" class="btn btn-md btn-default">Add user </button>
                    </div>

                  </div>
                  <div class="col-sm-4"></div>
                </div>


                <div class="well" uib-collapse="isCollapsed">
                  <div class="row vertical-align">
                    <div class="col-md-6">
                      <div style="text-align: -webkit-center">
                        <div uib-timepicker ng-model="dt" ng-change="saveEditDeadline(dt)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p class="input-group">
                        <input type="text" class="form-control" ng-change="saveEditDeadline(dt)" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                        />
                        <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                      </p>
                    </div>
                  </div>

                </div>
              </div>
              <br />
              <div ng-controller="deleteTicketCtrl" class="modal-footer center-align-text">
                <div class="container-fluid">
                  <div class="col-xs-6" style="text-align: left; padding-left: 0;">
                    <button uib-popover-template="dynamicPopover.templateUrl" popover-trigger="'outsideClick'"
                            popover-placement="right" type="button" class="btn btn-md btn-warning">
                      Remove ticket
                    </button>
                  </div>
                  <div class="col-xs-6" style="text-align: right; padding-right: 0">
                    <button type="button" class="btn btn-lg btn-default" ng-click="$ctrl.close()">Close</button>
                  </div>
                </div>
              </div>

              <!--
              <div class="list-group">
                <a class="list-group-item username" ng-repeat="user in ticket.members">
                    {{user}}
                </a>
              </div>
              -->
          </div>
          </div>
        </div>
      </uib-tab>

      <uib-tab index="1" classes="column-title" heading="Code" disable="tab.disabled">
        <div class="modal-body" ng-controller="CodeCtrl">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6">
                <div class="row">
                  <!-- Select file/methods -->
                  <label for="filename">Attach file</label>
                  <input type="text" id="filename" ng-model="selectFileName" placeholder="File name" uib-typeahead="fileName for fileName in getFile($viewValue)" typeahead-on-select="selectFile($item, $model, $label, $event)" typeahead-loading="loadingFileNames" typeahead-no-results="noFileResults"
                    class="form-control">
                  <i ng-show="loadingFileNames" class="glyphicon glyphicon-refresh"></i>
                  <div ng-show="noFileResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                  </div>
                  <div ng-show="selectedFile">
                    <hr />
                    <label>
                      <input type="checkbox" ng-model="wholeFile">
                      Attach whole file to ticket
                    </label>
                    <div ng-show="!wholeFile">
                      <label for="methodname">Attach method</label>
                      <input type="text" id="methodname" ng-model="selectMethodName" placeholder="Method name" uib-typeahead="methodName for methodName in getMethod(selectFileName, $viewValue)" typeahead-on-select="selectMethod($item, $model, $label, $event, selectFileName)" typeahead-loading="loadingMethodNames"
                        typeahead-no-results="noMethodResults" class="form-control">
                      <i ng-show="loadingMethodNames" class="glyphicon glyphicon-refresh"></i>
                      <div ng-show="noMethodResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <table class="table">
                    <tr>
                      <th>File names</th>
                      <th>Method names</th>
                    </tr>
                    <tr ng-repeat="(filename, methodsinfo) in getTicketCodeData()">
                      <td>{{filename}}</td>
                      <td>
                        <div class="container-fluid">
                          <div class="row" ng-repeat="method in methodsinfo.methods">
                            <div class="col-xs-6">
                              <a ng-click="updateCode(filename, method.methodname)">
                                {{method.methodname}}
                              </a>
                            </div>
                            <div class="col-xs-6">
                              <button type="button" class="btn btn-warning btn-sm" style="margin-top: 0" ng-click="removeMethod(filename, method.methodname)">Remove method</button>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-xs-6">
                <!-- Code -->
                <table class="table">
                  <tr>
                    <th ng-show="showCode">
                      File: {{filename}}
                      Method: {{methodname}}
                    </th>
                  </tr>
                  <tr ng-repeat="codeLine in getCodeData()">
                    <td style="width: 10px">
                      {{codeLine[0]}}
                    </td>
                    <td>
                      {{codeLine[1]}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </script>

  <!-- Delete ticket popup -->
  <script type="text/ng-template" id="yousurebutton.html">
    <button replace='true' type='button' class='btn btn-md btn-danger' ng-click='delete_ticket_button_click(tid)'>I'm sure</button>
  </script>

  <!-- Add user popup -->
  <script type="text/ng-template" id="addUser.html">
    <div class="list-group" style="max-height: 300px; overflow-y: scroll">
      <a ng-repeat="member in getProjectMembers()" ng-click="toggleMemberToTicket(member)" ng-class="{'list-group-item':true, 'active':isMemberAddedToTicket(member)}">{{member}}</a>
    </div>
  </script>

  <!-- Edit columns modal -->
  <script type="text/ng-template" id="edit-column-popup">

    <div class="modal-header">
      <!-- Modal content-->
      <h3 class="modal-title">Edit Columns</h3>
    </div>

    <div class="modal-body">
      <div id="editColumnCtrlId" ng-controller="editColumnCtrl">
        <div class="container-fluid">
          <div class="row vertical-align">
            <!-- Editable column -->
            <div class="col-xs-11">
              <table>
                <tr>
                  <td ng-repeat="col in project.column_order">
                    <table class="table table-bordered" column_id="{{project.columns[col].column_id}}" draggable="true"
                           ondragleave="angular.element(this).scope().handleColumnDragStart(event)"
                           ondragover="angular.element(this).scope().handleColumnDragOver(event)"
                           ondrop="angular.element(this).scope().handleColumnDrop(event)">
                      <tr>
                        <th class="column-title">
                          <p editable-textarea="project.columns[col].title" onaftersave="updateColTitle(project.columns[col], project.columns[col].title)">{{project.columns[col].title || 'empty'}}</p>
                        </th>
                      </tr>
                      <tr>
                        <td class="column-title" style="text-align: center;">
                          <div class="form-group">
                            <input type="text" class="form-control" style="text-align: center" cid="{{col}}" ng-model="newLimit" ng-init="newLimit = project.columns[col].limit" placeholder="Ticket limit" ng-change="updateColLimitEvent(col, newLimit)">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="center-align-text">
                          <button type="button" class="btn btn-warning" ng-click="removeColumn(project.columns[col])">Remove</button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <!-- Add new column -->
            <div class="col-xs-1">
              <button class="btn btn-info btn-lg" ng-click="addColumn()"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$ctrl.close()">Close</button>
</div>
</script>

<div id="kanban_location" ng-controller="KanbanCtrl">
  <nav id="optionsbar" class="nav navbar-default navbar-fixed-top">

    <ul class="nav navbar-nav navbar-left vertical-align">
        <!-- Add buttons -->
        <li><button class="btn btn-primary btn-lg" style="margin-left: 15px" ng-click="addBTN()">Add ticket</button></li>

      <!-- Button for user to return to home page - select other project from there. -->
      <li>
        <div class="btn-group btn-lg" uib-dropdown=>
          <button type="button" ng-click="goHome()" class="btn btn-link btn-md">Home</button>
          <button type="button" class="btn btn-link btn" uib-dropdown-toggle>
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
            <li role="menuitem">
              <a ng-click="sendKanbanRequest(project.project_id)">{{project.title}}</a>
            </li>

            <!-- Go to other projects -->
            <li class="divider" ng-repeat-start="proj in other_projects"></li>
            <li role="menuitem" ng-repeat-end><a ng-click="sendKanbanRequest(proj.project_id)">{{proj.title}}</a></li>
          </ul>
        </div>
      </li>
      <li><a href="" ng-click="$ctrl.open_edit_column()" class="btn ">Edit Columns</a></li>

    </ul>
    <ul class="nav navbar-right"></ul>
    <ul class="nav navbar-right">
      <div class="btn-group button-centered vertical-align" ng-controller="DropdownCtrl as $ctrl">
        <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a ng-click="$ctrl.openAddUsers('sm', project)">Add Users</a></li>
          <li><a ng-click="$ctrl.openDeleteProject('sm', project)">Delete Project</a></li>
          <li><a ng-click="$ctrl.openEditURL('sm', project)">Edit Github URL</a></li>
        </ul>
      </div>
    </ul>
    <a class="navbar-brand navbar-right project-title" id="project_title">
      <!-- Project title -->
      {{project.title}}
    </a>

    <!-- //TODO: Make project title a drop down - with project options. -->
  </nav>

  <div class="offset-navbar-height container-fluid">
    <div class="row">
      <!-- Kanban table -->
      <div class="col-xs-12">
        <table id="kanban" class="table table-bordered">
          <tr>
            <th class="column-title" ng-repeat="col in project.column_order">{{project.columns[col].title}}</th>
          </tr>

          <tr>
            <td ng-repeat="col in project.column_order" class="ticket-column"
                ondragleave="angular.element(this).scope().handleTicketDragLeave(event)"
                ondragover="angular.element(this).scope().handleTicketDragOver(event)"
                ondrop="angular.element(this).scope().handleTicketDrop(event)"
                cid="{{project.columns[col].column_id}}">
              <!-- Tickets -->
              <div ng-repeat="ticket in project.columns[col].tickets" ng-click="$ctrl.open_ticket_editor(ticket.ticket_id)"
                   ng-style="border = getBorderColour(ticket.timeLeft, ticket.deadlineActive)"
                   draggable="true" id="{{ticket.ticket_id}}" ondragstart="angular.element(this).scope().handleTicketDragStart(event)" class="ticket">
                <h3>{{ticket.desc}}</h3>
                <h4>{{ticket.isTimeLeft}} {{ticket.timeLeftFormatted}} {{ticket.timeFormatter}}</h4>
                <!--
                  <uib-progressbar class="progress-striped active" value="ticket.progress" type="{{ticket.deadlineState}}">{{ticket.progress}} <i ng-show="showWarning">Close to Deadline</i></uib-progressbar>
                  -->
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
