<!-- Ticket popup options -->
<div ng-controller="ModalCtrl as $ctrl" class="ticket-menu">
  <script type="text/ng-template" id="ticket-popup">

    <uib-tabset active="active" justified="true">
      <uib-tab index="0" classes="column-title" heading="Edit Ticket">
        <div class="modal-body" id="ticket-info-modal-body">
          <div class="container-fluid">
            <div ng-controller="editTicketCtrl">
              <p editable-textarea="desc" onaftersave="saveEditDesc(desc)">{{desc || 'empty'}}</p>

              <!--
              <div ng-controller="DatepickerPopupDemoCtrl">
                <div class="row vertical-align">
                  <div class="col-md-6">
                    <div ng-controller="TimepickerDemoCtrl" style="text-align: -webkit-center">
                      <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              -->

              <div ng-controller="DeadlineCollapseCtrl">
                <button type="button" class="btn btn-lg btn-default" ng-click="isCollapsed = !isCollapsed">Edit deadline</button>
                <div uib-collapse="isCollapsed">
                  <h3 class="center-align-text"> Submit a new deadline for this task</h3>

                  <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-2">
                      <p>Day</p>
                      <select ng-model="selectedDay" ng-options="day for day in days" ng-change="saveEditDeadline()">
                      </select>
                    </div>

                    <div class="col-xs-2">
                      <p>Month</p>
                      <select ng-model="selectedMonth" ng-options="month for month in months" ng-change="saveEditDeadline()">
                      </select>
                    </div>

                    <div class="col-xs-2">
                      <p>Year</p>
                      <select ng-model="selectedYear" ng-options="year for year in years" ng-change="saveEditDeadline()">
                      </select>
                    </div>

                    <div class="col-xs-4">
                      <p>Time of day</p>

                      <select ng-model="selectedHour" ng-options="hour for hour in hours" ng-change="saveEditDeadline()">
                      </select>
                      <select ng-model="selectedMinute" ng-options="minute for minute in minutes" ng-change="saveEditDeadline()">
                      </select>

                    </div>
                    <div class="col-xs-1"></div>

                  </div>
                  <!--
                  <div class="row">

                    <button type="button" ng-click="saveEditDeadline()" class="btn btn-primary">Save Deadline</button>

                    <h2>Current Deadline: {{selectedHour}}:{{selectedMinute}} on {{selectedDay}}/{{selectedMonth}}/{{selectedYear}}</h2>

                    <button type="button" ng-click="updateProgress()" class="btn btn-primary">Update Progress</button>

                  -->
                </div>
              </div>
              <br />
              <div class="center-align-text">
                <div class="container-fluid">
                  <div class="col-xs-6" style="text-align: left; padding-left: 0;">
                    <button uib-popover-template="dynamicPopover.templateUrl" popover-placement="right" type="button" class="btn btn-md btn-default">
                      Add user
                    </button>
                  </div>
                </div>
              </div>
              <div class="list-group">
                <a class="list-group-item username" ng-repeat="user in ticket.members">
                    {{user}}
                </a>
              </div>
          </div>
          </div>
        </div>
      </uib-tab>

      <uib-tab index="1" classes="column-title" heading="Code" disable="tab.disabled">
        <div class="modal-body">
          <div class="container-fluid">
            <p>
              Insert code selecting stuff here.
            </p>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>


    <!--
    <div class="modal-header">
      <h3 class="modal-title" id="ticket-info-title">Edit Ticket</h3>
    </div> -->


    <div ng-controller="deleteTicketCtrl" class="modal-footer center-align-text">
      <div class="container-fluid">
        <div class="col-xs-6" style="text-align: left; padding-left: 0;">
          <button uib-popover-template="dynamicPopover.templateUrl" popover-placement="right" type="button" class="btn btn-md btn-warning">
            Remove ticket
          </button>
        </div>
        <div class="col-xs-6" style="text-align: right; padding-right: 0">
          <button type="button" class="btn btn-lg btn-default" ng-click="$ctrl.close()">Close</button>
        </div>
      </div>
    </div>
  </script>

  <!-- Delete ticket popup -->
  <script type="text/ng-template" id="yousurebutton.html">
    <button replace='true' type='button' class='btn btn-md btn-danger' ng-click='delete_ticket_button_click(tid)'>I'm sure</button>
  </script>

  <!-- Add user popup -->
  <script type="text/ng-template" id="addUser.html">
    <form class="form-group center-align-text">
      <label for="usr">User</label>
      <input type="text" class="form-control username" placeholder="Username" id="usr" ng-model="username">
      <br />
      <button type=submit class="btn btn-default" ng-click="addUser(username)">Add</button>
    </form>
  </script>

  <!-- Code navigator popup -->
  <!--
  <script type="text/ng-template" id="code-popup">

    <div class="modal-header">
      <h3 class="modal-title" id="code-info-title">Edit Ticket</h3>
    </div>

    <div class="modal-body" id="code-info-modal-body">
      <div class="container-fluid">
        <p>Code place! YEAH!</p> </div>
    </div>
  </script>
  -->

  <!-- Edit columns modal -->
  <script type="text/ng-template" id="edit-column-popup">

    <div class="modal-header">
      <!-- Modal content-->
      <h3 class="modal-title">Edit Columns</h3>
    </div>

    <div class="modal-body">
      <div ng-controller="editColumnCtrl">
        <div class="container-fluid">
          <div class="row vertical-align">
            <!-- Editable column -->
            <div class="col-xs-11">
              <table>
                <tr>
                  <td ng-repeat="col in project.column_order">
                    <table class="table table-bordered" column_id="{{project.columns[col].column_id}}" draggable="true" ondragstart="handleColumnDragStart(event)" ondragover="handleColumnDragOver(event)" ondrop="handleColumnDrop(event)">
                      <tr>
                        <th class="column-title">
                          <p editable-textarea="project.columns[col].title" onaftersave="updateColTitle(project.columns[col], project.columns[col].title)">{{project.columns[col].title || 'empty'}}</p>
                        </th>
                      </tr>
                      <tr>
                        <td class="center-align-text">
                          <button type="button" class="btn btn-warning" ng-click="removeColumn(project.columns[col])">Remove</button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
          </div>
            <!-- Add new column -->
            <div class="col-xs-1">
              <button class="btn btn-info btn-lg" ng-click="addColumn()"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$ctrl.close()">Close</button>
    </div>
  </script>

  <div id="kanban_location" ng-controller="KanbanCtrl">


    <nav id="optionsbar" class="nav navbar-default navbar-fixed-top">
      <ul class="nav navbar-nav navbar-left vertical-align">
        <!-- Add buttons -->
        <li><button class="btn btn-primary btn-lg" style="margin-left: 15px" onclick="addBTN()">Add ticket</button></li>

        <!-- Button for user to return to home page - select other project from there. -->
        <li>
          <div class="btn-group btn-lg" uib-dropdown=>
            <button type="button" class="btn btn-link btn-md">Home</button>
            <button type="button" class="btn btn-link btn" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
              <li role="menuitem">
                <a ng-click="sendKanbanRequest(project.project_id)">{{project.title}}</a>
              </li>

              <!-- Go to other projects -->
              <li class="divider" ng-repeat-start="proj in other_projects"></li>
              <li role="menuitem" ng-repeat-end><a ng-click="sendKanbanRequest(proj.project_id)">{{proj.title}}</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" ng-click="$ctrl.open_edit_column()" class="btn ">Edit Columns</a></li>
      </ul>
      <a class="navbar-brand navbar-right project-title" id="project_title">
            <!-- Project title -->
            {{project.title}}
      </a>
      <!-- //TODO: Make project title a drop down - with project options. -->
    </nav>

    <div class="offset-navbar-height container-fluid">

      <div class="row">
        <!-- Kanban table -->
        <div class="col-xs-12">
          <table id="kanban" class="table table-bordered">

            <tr>
              <th class="column-title" ng-repeat="col in project.column_order">{{project.columns[col].title}}</th>
            </tr>

            <tr>
              <td ng-repeat="col in project.column_order" class="ticket-column" cid="{{project.columns[col].column_id}}">
                <!-- Tickets -->
                <div ng-repeat="ticket in project.columns[col].tickets" ng-click="$ctrl.open_ticket_editor(ticket.ticket_id)"
                ng-style="border = getBorderColour(ticket.progress, ticket.deadlineActive)"
                 draggable="true" id="{{ticket.ticket_id}}" ondragstart="handleTicketDragStart(event)" class="ticket">
                  {{ticket.desc}}

                  <!--
                  <uib-progressbar class="progress-striped active" value="ticket.progress" type="{{ticket.deadlineState}}">{{ticket.progress}} <i ng-show="showWarning">Close to Deadline</i></uib-progressbar>
                  -->
                </div>

              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
