<div class="container-fluid">

  <div class="top-login-nav">
    <nav id="optionsbar" class="nav navbar-default navbar-fixed-top transparent">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="KanKanLogo.png" style="width:50px; height:39px"></a>

      </div>



      <form class="navbar-form navbar-right">
        <input type="text" class="form-control username" placeholder="Username" id="usr" ng-model="username">
        <button type=submit class="btn btn-primary" ng-click="login(username)">Login</button>
        <button type=submit class="btn btn-primary" ng-click="newUser(username)">Sign Up</button>
      </form>


      <!-- //TODO: Make project title a drop down - with project options. -->
    </nav>
  </div>
</div>

<div class="below-nav">

  <div class="jumbotron vertical-align">
    <img ng-src="KanKan.png" class="img-responsive">

  </div>

  <div class="kankan-description">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <h2>What is Kankan?</h2>
        <p>Kankan is a project management system based on the use of a kanban.</p>
        <p>Kankan offers a an easy way to make sure you meet all of your deadlines for any kind of tasks. You can share your projects with friends and co-workers easily and control which tasks they are assigned to!</p>
      </div>

      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <h2>Who is Kankan for?</h2>
        <p>Kankan is for everyone who has something to do. You could be a teacher, student, developer or even just someone who has chores to do, we can help you manage your work.</p>
      </div>
      <div class="col-sm-1"></div>

    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <h2>Developers</h2>
        <p>Kankan offers support for github, here you can link in a gitbug repository andconnect to all of your files and different functions in your code.</p>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-1"></div>

    </div>
  </div>

</div>
