<div class="container-fluid">

  <div class="top-login-nav">
    <nav id="optionsbar" class="nav navbar-default navbar-fixed-top">



      <form class="navbar-form navbar-right">
        <label class="username-title" for="usr">Enter username</label>

        <input type="text" class="form-control username" placeholder="Username" id="usr" ng-model="username">
        <button type=submit class="btn btn-default" ng-click="login(username)">Login</button>
        <button type=submit class="btn btn-default" ng-click="newUser(username)">Sign Up</button>
      </form>


      <!-- //TODO: Make project title a drop down - with project options. -->
    </nav>
  </div>
</div>

  <div class="below-nav">

    <div class="jumbotron"></div>

  </div>
