<div class="container-fluid">

  <nav id="optionsbar" class="nav navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav navbar-left vertical-align">
      <!-- Add buttons -->
      <li><button class="btn btn-primary btn-lg" style="margin-left: 15px; background-color: grey; border-color: grey">Add ticket</button></li>

      <!-- Button for user to return to home page - select other project from there. -->
      <li>
        <div class="btn-group btn-lg" uib-dropdown=>

          <button type="button" ng-click="goHome()" class="btn btn-link btn-md">Home</button>

          <button type="button" class="btn btn-link btn" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>

          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">

            <!-- Go to other projects -->
            <li class="divider" ng-repeat-start="proj in projects"></li>
            <li role="menuitem" ng-repeat-end><a ng-click="routeToKanban(project.project_id)">{{proj.title}}</a></li>
          </ul>

        </div>
      </li>

      <li><a href="" ng-click="goOverview()" class="btn ">User Overview</a></li>
    </ul>

    <!-- //TODO: Make project title a drop down - with project options. -->
  </nav>

  <div class="Project_overviews">

    <div class="row">

      <div class="col-sm-2">
        <h2>Project Name</h2></div>
      <div class="col-sm-2">
        <h2>Members</h2></div>
      <div class="col-sm-6">
        <h2>Upcoming Deadlines</h2></div>
      <div class="col-sm-2">
        <h2>Summary</h2></div>

    </div>

    <div class="row" ng-repeat="project in projects">

      <div class="col-sm-2">
        <h3>{{project.title}}</h3></div>
      <div class="col-sm-2">
        <div class="projmembers" ng-repeat="member in project.members">
          <h3>{{member}}</h3></div>
      </div>
      <div class="col-sm-6">Placeholder</div>
      <div class="col-sm-2">Palceholder</div>

    </div>

  </div>
