@media screen and (min-width: 768px){
  .ticket {
    width: 200px;
    display: flex;
    flex-direction: column;
    min-height:150px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #26292e;
    border-radius: 4px;
    background-color: #e8eaeb;
    float: left;

  }

  .top-login-nav {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {

  .ticket {
    width: 70px;
    display: flex;
    flex-direction: column;
    min-height:40px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #26292e;
    border-radius: 4px;
    background-color: #e8eaeb;
    float: left;

  }

  .top-login-nav {
    margin-bottom: 150px;
  }

}

.top-login-nav nav {
  border-color: black;
  border-bottom-width: 1px;
  padding-right: 17px;
}

h2 ~ p {
  font-style: normal;
  font-size: 22px;
}

h2 {
  font-weight: bold;
}

.top-login-nav {
  overflow: auto;
  clear: both;
}

#create-project .popover {
  width:700px;
}

.modal-body {
  max-height: 800px;
}

.cog-dropdown {
  font-size: 30px;
  color: white;
  margin-top: 10px;
  margin-right: 13px;
}

.below-nav .jumbotron {
  position: relative;
  transform: translateY(-11%);
  height: 111vh;
  background-color: white;
  background-image: url("background.jpg");
  background-size: cover;

}

.jumbotron img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

img {
  border-radius: 10px;
}

.ticket-upcoming {
  width: 120px;
  display: flex;
  flex-direction: column;
  min-height:75px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #26292e;
  border-radius: 4px;
  background-color: #e8eaeb;
  float: left;

}

body {
  /*background-image: url("pattern2background.png");
  background-color: #ff8080;*/
  background-color: #C5E6F7;
}

.row button {
  margin-top:8px;
}

.project_overviews {
  margin-top: 25px;
  padding: 30px;
}

.top-menu {
  margin-top: 20px;
}

.project_overviews > .row {
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: grey;
  padding-bottom: 5px;

}

.project_overviews h2 {
  font-weight: bold;
}

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}

h1 {
  word-wrap: break-word;
   color: navy;
   font-size: 59px;
}

div {
  word-wrap: break-word;

}

.projmembers {
  display: inline-block;


}

.ticketButtons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.project-title {
  text-align: center;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: inherit;
}

.column-title {
  text-align: center;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}


.columnHeader {

}

.vertical-align {
  display: flex;
  align-items: center;
}

.table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 5px;
}

.kanbantable {
  border: 5px solid white;
}

.ticket-column {

}

.modal-lg {
  width: 75%
}

.go-left {
  left: 0;
}

.code-navigator-modal {
  z-index: 1060;
}

.ticket-edit-modal {
  z-index: 1600;
}

.modal-backdrop.in {
  z-index: 1040 !important;
}

.offset-navbar-height {
  padding-top: 60px;
}

.navbar-project-title
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.bottom-border {
  border-bottom: 1px;
}

.transparent {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.username-title {
  text-align: center;
  font-size: 15x;
  margin-top: auto;
  margin-bottom: auto;
}

.home-title {
  text-align: center;
  font-size: 45px;
  margin-top: auto;
  margin-bottom: auto;
}

.username {
  text-align: center;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.btn-flex {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}
.btn-flex .btn:first-child {
  flex-grow: 1;
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #515CC9;
  border-color: #3440B3;
}


.button-centered {
  text-align: center;
}
.center-align-text {
  text-align: center;
}

.left-align-text {
  text-align: left;
}

.right-align-text {
  text-align: left;
}

.pagination, .carousel, .panel-title a { cursor: pointer; }
