<!DOCTYPE html>
<html lang="en-GB" ng-app="Pulse">
<meta charset="utf-8">

<head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
   <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
   <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <link href="stylesheet.css" rel="stylesheet">
</head>


<body ng-controller="MainCtrl">


<!-- Buttons to increment or decrement columns
<button class="btn btn-success" ng-click="increment('up')">Add Column</button>
<button class="btn btn-danger" ng-click="increment('down')">Remove Column</button>
-->

<table class="table table-bordered">
  <tr>
    <th ng-repeat="col in cols | limitTo: colCount">{{col}}</th>
  </tr>
  <div class="row">
    <tr>
        <td class="ticket_column" id="row1">

          <button type="button" class="btn btn-primary" ng-click="addBTN()">
              Add
          </button>

          <div class="ticket" id="471">
            Ticket id#471
          </div>
        </td>
        <td class="ticket_column">
            <div class="ticket" id="455">
              Ticket id#455
            </div>
          </div>
        </td>
      <td class="ticket_column">
          <div class="ticket" id="489">
            Ticket id#489
          </div>
      </td>
    </tr>
  </div>

  <!--
  <tr ng-repeat="row in data">
    <td ng-repeat="item in row | limitTo: colCount">{{item}}</td>
  </tr>
  -->

</table>

<script src="script.js"></script>

</body>
</html>
