h1 {
  word-wrap: break-word;
   color: navy;
}

.ticket {
  width: 100px;
  height: 60px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #26292e;
  border-radius: 4px;
  background-color: #e8eaeb;
}

.columnHeader {

}

.row {

}
